body {
  background-image: url('../../img/bus image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.topnav-right {
  float: right;
}
.footerlinks {
  color: #ffffff;
  text-decoration: none !important;
}

  .footerlinks:hover {
    color: #ffd800;
  }

#footer1 {
  position: absolute;
  bottom: 0;
  background: #762b00;
}

#footer2 {
  background: #531f00;
}

